.logo{
    height: 39px;
}

.container{
    margin-bottom: 40px;
}
#background{
    background-color: rgba(230, 184, 127, 0.801);
}
.carousel-caption{
    color: rgb(74, 79, 83);
    text-align: left;
}

.h5{
    color: rgb(151, 148, 148);
}

h6{
    text-align: right;
    color: rgb(56, 54, 22);
}

.bay-now-button{
    background-image: linear-gradient(to bottom, #e7df6d 0%,#fdf907 100%);
    color: rgba(24, 8, 247, 0.986);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.card{
    text-align: center;
    box-shadow: 15px 15px 22px rgb(177, 176, 176);
    border: none;
    border-radius: 10px;

}


.categories{
    text-align: center;
    
}

.col-md-2{
    float: inline-start;
    align-items: center;
    margin-top: 80px;
}

.photo{
    height: 95%;
    width: 95%;
}

